*{
    margin: 0;
    padding: 0;
}
body{
    margin: 10px;
    font-family: "Roboto", sans-serif;
}
h1{
    margin-bottom: 20px;
}
#choiceMale{
    margin-left: 15px;
}
#woman{
    margin-left: 25px;
}
#choiceFemale{
    margin-left: 15px;
}
#update{
    margin-left: 15px;
}
#submit{
    font-size: large;
}
main{
    border: 1px solid black;
    width: fit-content;
}
main{
    display: none;
}